
#myInput {
	color: black;
	text-align: center;
	padding: 8px; 
	display: block; 
	font-size: 12px; 
	margin: 24px auto; 
	}
	#submitBtn {
		background-color: green;
		color: white;
		padding: 8px; 
		font-size: 12px;
		}
		#myMessage {
			color: red; 
			font-size: 14px; 
			margin: 24px auto;
			}